/*
 * Button
 */

.btn-form-left {
  width: 100px;
  margin-right: 5px;
  background-color: rgb(255, 41, 86);
  color: rgb(255, 255, 255);
  border-color: rgb(255, 41, 86) !important;
}
.btn-form-right {
  width: 100px;
  margin-left: 5px;
  color: white;
  background-color: rgb(46, 204, 113);
  border-color: rgb(46, 204, 113) !important;
}

