.image-element-class{
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  .masonry-main{
    border: solid 1px #eee;

    img{
      width: 100%;
    }
  }

}
.grid-boxes-caption {
  padding: 15px;
  h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    a {
      color: $base-color;
    }
  }
  p{
    text-align: justify;
  }
}
.grid-boxes-news {
  margin-bottom: 15px;
}
.content {
  padding-top: 40px;
  padding-bottom: 40px;
}
.masonry{
  padding-left: 0px;
}
