/*
 * Button
 */
.button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-family: $font-open-sans;
  border: none;
  &-has-icon {
    i {
      margin-right: $gutter * 0.5;
    }
  }

  &-block{
    width: 100%;
  }

  &-login {
    @include border-radius(3px);
    line-height: $gutter * 2.5;
    padding: {
      left: $gutter;
      right: $gutter;
    }
  }
  &-small {
    line-height: $gutter * 1.5;
    padding: {
      left: $gutter * 0.5;
      right: $gutter * 0.5;
    }
  }

  &-normal {
    line-height: $gutter * 1.8;
    padding: {
      left: $gutter;
      right: $gutter;
    }
  }

  &-bold {
    font-weight: $font-bold;
    text-transform: uppercase;
  }
  &-basic{
    background-color: $base-color;
    color: $white;
  }
  &-pink {
    background-color: $base-color;
    color: $white;

    &:hover,
    &:focus {
      color: $white;
      background-color: lighten($base-color,5%);
    }
  }

  &-green {
    background-color: $green;
    color: $white;

    &:hover,
    &:focus {
      color: $white;
      background-color: lighten($green, 5%);
    }
  }

  &-xpink {
    border: 1px $base-color solid;
    color: $white;
    position: relative;
    z-index: 0;

    &:before {
      position: absolute;
      right: 0;
      top: 0;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $base-color;
      transition: all 0.35s ease;
      z-index: -1;
    }

    &:hover,
    &:focus {
      color: $white;
      border-color: $white;

      &:before {
        width: 0;
      }
    }
  }

  &-white {
    border: 1px $white solid;
    color: $white;

    &:hover,
    &:focus {
      background-color: $base-color;
      color: $white;
      border-color: $base-color;
    }
  }
}

//For xs
@media screen and (max-width: $tablet - 1) {
  .button {
    &-bold {
      font-size: $font-base * 0.875;
    }

    &-large {
      line-height: $gutter * 2.5;
      padding: {
        left: $gutter * 1.25;
        right: $gutter * 1.25;
      }
    }
  }
}

//For sm,md,lg
@media screen and (min-width: $tablet) {
  .button {
    &-bold {
      font-size: $font-base * 1.0625;
    }

    &-large {
      line-height: $gutter * 3.1;
      padding: {
        left: $gutter * 2.5;
        right: $gutter * 2.5;
      }
    }
  }
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
}

#social-share {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 20;
  /*transitions with relative delay*/
}
#social-share{
  a{
    color: white;
  }
}
#social-share ul.social-itens .btn-share, #social-share div.social-open-menu .btn-share {
  position: relative;
  cursor: pointer;
  border-radius: 50%;
  color: white;
  line-height: 1;
  outline: 0;
  border: 0;
  margin-top: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
#social-share ul.social-itens .btn-share:hover, #social-share div.social-open-menu .btn-share:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#social-share ul.social-itens {
  list-style: none;
  text-decoration: none;
  text-align: center;
  position: relative;
  /* display: none; */
}
#social-share ul.social-itens .btn-share {
  width: 50px;
  height: 50px;
  /* transform: none; */
}
#social-share ul.social-itens .btn-share.social-item-1 {
  background-color: #3B5998;
}
#social-share ul.social-itens .btn-share.social-item-1 i {
  text-shadow: 0px 0px #344e86, 1px 1px #344e86, 2px 2px #344e86, 3px 3px #344e86, 4px 4px #344e86, 5px 5px #344e86;
}
#social-share ul.social-itens .btn-share.social-item-2 {
  background-color: #E91E63;
}
#social-share ul.social-itens .btn-share.social-item-2 i {
  text-shadow: 0px 0px #d81558, 1px 1px #d81558, 2px 2px #d81558, 3px 3px #d81558, 4px 4px #d81558, 5px 5px #d81558;
}
#social-share ul.social-itens .btn-share.social-item-3 {
  background-color: #FFC107;
}
#social-share ul.social-itens .btn-share.social-item-3 i {
  text-shadow: 0px 0px #edb100, 1px 1px #edb100, 2px 2px #edb100, 3px 3px #edb100, 4px 4px #edb100, 5px 5px #edb100;
}
#social-share ul.social-itens .btn-share.social-item-4 {
  background-color: #FF5F00;
}
#social-share ul.social-itens .btn-share.social-item-4 i {
  text-shadow: 0px 0px #edb100, 1px 1px #edb100, 2px 2px #edb100, 3px 3px #edb100, 4px 4px #edb100, 5px 5px #edb100;
}
#social-share ul.social-itens.open .btn-share {
  transform: scale(1);
  opacity: 1;
  /* transform: translate(0px, -15px); */
}
#social-share ul.social-itens li {
  position: relative;
}
#social-share ul.social-itens li .btn-share {
  transform: scale(0);
  opacity: 0;
}
#social-share ul.social-itens li .btn-share-text {
  position: absolute;
  bottom: 15px;
  right: 100%;
  margin-right: 10px;
  min-width: 75px;
  border-radius: 2px;
  padding: 3px 4px;
  text-align: center;
  font-weight: 300;
  background: rgba(20, 20, 20, 0.7);
  color: #fff;
  display: block;
  opacity: 0;
  transition: all 500ms ease-in-out  0.5s;
}
#social-share ul.social-itens li:hover .btn-share-text {
  opacity: 1;
}
#social-share div.social-open-menu .btn-share {
  width: 65px;
  height: 65px;
  background-color: #F44336;
}
#social-share div.social-open-menu .btn-share i {
  text-shadow: 0px 0px #f32c1e, 1px 1px #f32c1e, 2px 2px #f32c1e, 3px 3px #f32c1e, 4px 4px #f32c1e, 5px 5px #f32c1e;
}
#social-share .social-itens.open .social-item-1,
#social-share .social-itens.open .social-item-1 .btn-share-text {
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.1s;
}
#social-share .social-itens.hidden .social-item-1,
#social-share .social-itens.open .social-item-1 .btn-share-text {
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
}
#social-share .social-itens.open .social-item-2,
#social-share .social-itens.open .social-item-2 .btn-share-text {
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s;
}
#social-share .social-itens.hidden .social-item-2,
#social-share .social-itens.open .social-item-2 .btn-share-text {
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.3s;
}
#social-share .social-itens.open .social-item-3,
#social-share .social-itens.open .social-item-3 .btn-share-text {
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.3s;
}
#social-share .social-itens.hidden .social-item-3,
#social-share .social-itens.open .social-item-3 .btn-share-text {
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s;
}
#social-share .social-itens.open .social-item-4,
#social-share .social-itens.open .social-item-4 .btn-share-text {
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
}
#social-share .social-itens.hidden .social-item-4,
#social-share .social-itens.open .social-item-4 .btn-share-text {
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.1s;
}


