/*
 * Button
 */
.button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-family: $font-open-sans;
  border: none;
  &-has-icon {
    i {
      margin-right: $gutter * 0.5;
    }
  }

  &-block{
    width: 100%;
  }

  &-login {
    @include border-radius(3px);
    line-height: $gutter * 2.5;
    padding: {
      left: $gutter;
      right: $gutter;
    }
  }
  &-small {
    line-height: $gutter * 1.5;
    padding: {
      left: $gutter * 0.5;
      right: $gutter * 0.5;
    }
  }

  &-normal {
    line-height: $gutter * 1.8;
    padding: {
      left: $gutter;
      right: $gutter;
    }
  }

  &-bold {
    font-weight: $font-bold;
    text-transform: uppercase;
  }
  &-basic{
    background-color: $base-color;
    color: $white;
  }
  &-pink {
    background-color: $base-color;
    color: $white;

    &:hover,
    &:focus {
      color: $white;
      background-color: lighten($base-color,5%);
    }
  }

  &-green {
    background-color: $green;
    color: $white;

    &:hover,
    &:focus {
      color: $white;
      background-color: lighten($green, 5%);
    }
  }

  &-xpink {
    border: 1px $base-color solid;
    color: $white;
    position: relative;
    z-index: 0;

    &:before {
      position: absolute;
      right: 0;
      top: 0;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $base-color;
      transition: all 0.35s ease;
      z-index: -1;
    }

    &:hover,
    &:focus {
      color: $white;
      border-color: $white;

      &:before {
        width: 0;
      }
    }
  }

  &-white {
    border: 1px $white solid;
    color: $white;

    &:hover,
    &:focus {
      background-color: $base-color;
      color: $white;
      border-color: $base-color;
    }
  }
}

//For xs
@media screen and (max-width: $tablet - 1) {
  .button {
    &-bold {
      font-size: $font-base * 0.875;
    }

    &-large {
      line-height: $gutter * 2.5;
      padding: {
        left: $gutter * 1.25;
        right: $gutter * 1.25;
      }
    }
  }
}

//For sm,md,lg
@media screen and (min-width: $tablet) {
  .button {
    &-bold {
      font-size: $font-base * 1.0625;
    }

    &-large {
      line-height: $gutter * 3.1;
      padding: {
        left: $gutter * 2.5;
        right: $gutter * 2.5;
      }
    }
  }
}
