/* ------------------------------>>> COMMON <<<------------------------------ */
body {
  font-family: $font-open-sans;
  font-size: $font-base;
  line-height: 1.6;
  background-color: $white;
  box-sizing: border-box;
  color: $xlight-black;
}

.wrapper {
  overflow: hidden;

  &.active {
    position: fixed;
    width: 100%;
    height: 100%;
  }
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
h2{
  font-size: 24px;
}
img {
  vertical-align: top;
  max-width: 100%;
}
p, li, li a, label {
  color: #555;
}
a {
  color: #555;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:hover,
  &:active,
  &:focus {
    color: $base-color;
    text-decoration: none;
  }
}


a,
a i,
button,
input {
  transition-duration: 0.25s;
  transition-property: color, background-color, border-color;
  transition-timing-function: ease-out;

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
}
label {
  color: #999;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
#topcontrol {
  color: #fff;
  z-index: 99;
  width: 30px;
  height: 30px;
  font-size: 20px;
  background: #222;
  right: 14px !important;
  bottom: 11px !important;
  border-radius: 3px !important;
  &:after {
    top: -2px;
    left: 8.5px;
    content: "\f106";
    position: absolute;
    text-align: center;
    font-family: FontAwesome;
  }
  &:hover {
    color: #fff;
    background: #72c02c;
    transition: all 0.3s ease-in-out;
  }
}
.returnTop{
  position: fixed;
  bottom: 5px;
  right: 5px;
  opacity: 1;
  cursor: pointer;
}

div{
  display: block;
}
.headline {
  display: block;
  margin: 10px 0 25px 0;
  border-bottom: 1px dotted #e4e9f0;
  h2 {
    font-size: 22px;
    margin: 0 0 -2px 0;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 2px solid #72c02c;
  }
}
.color-red {
  color: #e74c3c;
}
.color-green {
  color: #72c02c;
}
.gray {
  background-color: $dark-white;
}
.g-bg-lightblue {
  background: #eef2f7;
}
.bg-green {
  background: #72c02c;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.overflow-h {
  overflow: hidden;
}
.rounded-x {
  border-radius: 50% !important;
}
.margin-bottom-50 {
  margin-bottom: 50px;
}
.margin-bottom-60 {
  margin-bottom: 60px;
}
.padding-bottom-50 {
  padding-bottom: 50px;
}
.padding-top-50 {
  padding-top: 50px;
}
.margin-right-20 {
  margin-right: 20px;
}

.margin-bottom-0 {
  margin-bottom: 0;
}
.medium-width{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.font-light {
  font-weight: 200;
}
.form-control {
  box-shadow: none;
  border-radius: 0;
}
.btn-u {
  border: 0;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  font-weight: 400;
  padding: 6px 13px;
  position: relative;
  background: #72c02c;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
}
.bg-color-white {
  background-color: #f7f7f7 !important;
}
.bg-trending{
  background: white;
}
.bg-content-detail{
  background: white;
  .news-v3-in{
    padding: 15px;
  }
}
.btn-u-sm, a.btn-u-sm {
  padding: 3px 12px;
}
.grid-boxes-caption{
  div{
    height: 100px;
    overflow: hidden;
  }
}
.read-more{
  color: $base-color
}
.bg-article{
  padding-top: 35px;
  img{
    height: 250px;
    margin-left: auto;
    margin-right: auto;
  }
}
.testimonials-v4 {
  .testimonials-v4-in {
    background: #fff;
    position: relative;
    margin-bottom: 40px;
    padding: 20px 20px 20px 55px;
    box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.1);
    p {
      color: #777;
      font-size: 14px;
      font-style: italic;
    }
    &:before {
      color: #bbb;
      font-size: 60px;
      content: "\201C";
      position: absolute;
      margin: -25px 0 0 -40px;
      font-family: Georgia, serif;
    }
    &:after {
      width: 0;
      height: 0;
      left: 80px;
      content: " ";
      bottom: -30px;
      position: absolute;
      border-style: solid;
      border-width: 30px 30px 0 0;
      border-color: #fff transparent transparent transparent;
      -webkit-filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.1));
      filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.1));
    }
  }
  img {
    float: left;
    width: 60px;
    height: auto;
    margin: 0 20px;
  }
  .testimonials-author {
    color: #555;
    display: block;
    font-size: 14px;
    overflow: hidden;
    padding-top: 8px;
    text-transform: uppercase;
    a {
      color: #72c02c;
      text-decoration: none;
    }
  }
}
.feature-item{
  background: #fff;
  .feature-image{
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: hidden;
    position: relative;
    .easy-bg-v2 {
      top: 5px;
      color: #fff;
      width: 100px;
      padding: 5px;
      left: -32px;
      font-size: 13px;
      position: absolute;
      text-align: center;
      letter-spacing: 2px;
      transform: rotate(-45deg);
      z-index: 1;
    }
    .rgba-default {
      background-color: rgba(114,192,44,0.8);
    }
  }
  .content-program{
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.book{
  .thumbnail-style{
    box-shadow: 0 0 8px #ddd;
    background: white;
    height: auto!important;
  }
}
.my-gallery-class{
  padding-left: 0px;
}
