/* ------------------------------>>> COMMON <<<------------------------------ */
body {
  font-family: $font-family;
  font-size: $font-base;
  line-height: 1.6;
  background-color: $white;
  box-sizing: border-box;
  color: $xlight-black;
}

.wrapper {
  overflow: hidden;

  &.active {
    position: fixed;
    width: 100%;
    height: 100%;
  }
}
*,
*:after,
*:before {
  box-sizing: inherit;
}

img {
  vertical-align: top;
}

a {
  color: $xlight-black;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:hover,
  &:active,
  &:focus {
    color: $base-color;
    text-decoration: none;
  }
}


a,
a i,
button,
input {
  transition-duration: 0.25s;
  transition-property: color, background-color, border-color;
  transition-timing-function: ease-out;

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
}
label {
  color: #999;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
.headline {
  display: block;
  margin: 10px 0 25px 0;
  border-bottom: 1px dotted #e4e9f0;
  h2 {
    font-size: 22px;
    margin: 0 0 -2px 0;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 2px solid #72c02c;
  }
}
.color-red {
  color: #e74c3c;
}
.color-green {
  color: #72c02c;
}
.gray {
  background-color: $dark-white;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}
.overflow-h {
  overflow: hidden;
}
.rounded-x {
  border-radius: 50% !important;
}
.margin-bottom-50 {
  margin-bottom: 50px;
}
.margin-bottom-60 {
  margin-bottom: 60px;
}
.medium-width{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.form-control {
  box-shadow: none;
  border-radius: 0;
}
.btn-u {
  border: 0;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  font-weight: 400;
  padding: 6px 13px;
  position: relative;
  background: #72c02c;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
}
.bg-color-white {
  background-color: #fff !important;
}
.btn-u-sm, a.btn-u-sm {
  padding: 3px 12px;
}
.grid-boxes-caption{
  div{
    height: 100px;
    overflow: hidden;
  }
}
