.DraftEditor-root{
  img{
    max-width: 50%;
    margin-left: 25%;
  }
  p{
    text-align: justify;
  }
}
.editor {
  .paragraph {
    margin-bottom: 2.5rem;
  }
}
.news-v3-in{
  .public-DraftStyleDefault-ltr{
    margin-bottom: 20px;
  }
}

