.content {
  padding-top: 40px;
  padding-bottom: 40px;
}
.timeline-v1 {
  padding: 20px 0;
  list-style: none;
  position: relative;
  display: inline-block;
  width: 100%;
  &:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eee;
    left: 50%;
    margin-left: -1.5px;
  }
  .item-event {
    margin-bottom: 40px;
    position: relative;
    width: 50%;
    float: left;
    clear: left;

    &:nth-child(2) {
      margin-top: 60px;
    }
    .timeline-badge {
      color: #ccc;
      width: 24px;
      height: 24px;
      line-height: 50px;
      font-size: 1.4em;
      cursor: pointer;
      text-align: center;
      position: absolute;
      top: 34px;
      right: -12px;
      /* background-color: #999999; */
      z-index: 9;
      i{
        &:hover {
          color: #72c02c;
        }
      }
    }
    &.timeline-inverted {
      float: right;
      clear: right;
      margin-bottom: 40px;
      .timeline-badge {
        left: -12px;
      }
      .timeline-panel{
        float: right;
        &:before {
          border-left-width: 0;
          border-right-width: 15px;
          left: -15px;
          right: auto;
        }

      }
    }
    .timeline-panel {
      width: 94%;
      float: left;
      border: 1px solid #d4d4d4;
      /* border-radius: 2px; */
      /* padding: 20px; */
      position: relative;
      .timeline-heading {
        padding: 5px;
        display: block;
        img {
          width: 100%;
        }
      }
      &:before {
        position: absolute;
        top: 26px;
        right: -15px;
        display: inline-block;
        border-top: 15px solid transparent;
        border-left: 15px solid #ccc;
        border-right: 0 solid #ccc;
        border-bottom: 15px solid transparent;
        content: " ";
      }
    }
  }
  .timeline-body {
    padding: 12px;
    /* margin-bottom: 20px; */
  }
  .timeline-footer {
    padding: 7px 12px;
    overflow: hidden;
    border-top: 1px solid #ccc;
    .blog-info {
      float: left;
      i {
        color: #777;
      }
    }
    &:after {
      position: absolute;
      top: 27px;
      right: -14px;
      display: inline-block;
      border-top: 14px solid transparent;
      border-left: 14px solid #fff;
      border-right: 0 solid #fff;
      border-bottom: 14px solid transparent;
      content: " ";
    }
    .likes {
      float: right;
      i {
        margin-right: 2px;
        color: #777;
      }
    }
  }
}

