.up-app{
  img{
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
  }
}
.feedback{
  padding: 20px;
}

.fingerprint{
  .content-sm{
    padding-bottom: 0;
    .blog-post-quote{
      padding-bottom: 0;
    }
  }
  .bg-green{
    background: #f7f7f7!important;
    padding-top: 0;
  }
  .video-hit{
    margin-bottom: 20px;
    iframe{
      width: 100%;
    }
  }

}

