.up-app{
  img{
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
  }
}
.feedback{
  padding: 20px;
}
.testimonials-v4 {
  img {
    float: left;
    width: 60px;
    height: auto;
    margin: 0 20px;
  }
  .testimonials-author {
    color: #555;
    display: block;
    font-size: 14px;
    overflow: hidden;
    padding-top: 8px;
    text-transform: uppercase;
    em {
      font-size: 13px;
      text-transform: capitalize;
    }
  }
  .testimonials-v4-in {
    background: #fff;
    position: relative;
    margin-bottom: 40px;
    padding: 20px 20px 20px 55px;
    box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.1);
    &:before {
      color: #bbb;
      font-size: 60px;
      content: "\201C";
      position: absolute;
      margin: -25px 0 0 -40px;
      font-family: Georgia, serif;
    }
    &:after {
      width: 0;
      height: 0;
      left: 80px;
      content: " ";
      bottom: -30px;
      position: absolute;
      border-style: solid;
      border-width: 30px 30px 0 0;
      border-color: #fff transparent transparent transparent;
      -webkit-filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.1));
      filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.1));
    }
    p {
      color: #777;
      font-size: 14px;
      font-style: italic;
    }

  }
}
