.up-app{
  img{
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
  }
}
.feedback{
  padding: 20px;
}

.fingerprint{
  .content-sm{
    padding-bottom: 0;
    .blog-post-quote{
      padding-bottom: 0;
    }
  }
  .blog-post-quote{
    background: url('../img/bg-note2.jpg');
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
  .trending-title{
    padding-left: 0;
    padding-right: 0;
  }
  .blog-photos {
    li {
      img {
      }
    }

  }

  .bg-green{
    background: #f7f7f7!important;
    padding-top: 0;
  }
  .video-hit{
    margin-bottom: 20px;
    iframe{
      width: 100%;
    }
  }

}

@-webkit-keyframes trendingMove {
  from {left: 20px;}
  to {left: 0px;}
}

@keyframes trendingMove {
  from {left: 20px;}
  to {left: 0px;}
}
