.up-app{
  img{
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
  }
}
.feedback{
  padding: 20px;
}

.fingerprint{
  .video-hit{
    margin-bottom: 20px;
    iframe{
      width: 100%;
    }
  }

}

