/* ------------------------------>>> HEADER <<<------------------------------ */
.header {
  height: $gutter * 3;
  border-bottom: 1px $xxlight-gray solid;
  position: absolute;
  z-index: 100;
  background: white;
  width: 100%;
  .user-feature{
    margin-top: 4px;
    position: absolute;
    right: 30px;
    a{
      font-size: 12px!important;
      font-weight: 300!important;
    }
  }
  &-logo {
    margin-top: 5px;
    left: 11%;
    .navbar-toggle{
      background-color: #81ca00;
      font-size: 26px;
      margin-top: 1px;

    }
    img {
      max-width: 100%;
      height: 80%;

    }
  }

  .navbar-collapse {
    float: right;
    li {
      display: inline-block;
      margin: 0;

      &:hover > a{
        background: none!important;
        cursor: pointer;
        color: $base-color
      }

      &.active {
        .route-page{
          color: $base-color;
        }
        a {
          background: none!important;
        }
      }
        a {
          background: none!important;
        }
    }

    a {
      color: $xlight-black;
      font-weight: 500;
      font-family: $font-open-sans;
      font-size: 16px;
      text-decoration: none;
      padding: 0 10px;
      &.button {
        margin-left:  $gutter * 0.3;
        color: $white;
        padding: 0 16px;

        i {
          font-size: $font-base * 1.25;
        }

        &:hover {
          color: $white;
        }
      }
    }

    //Menu Dropdown


  }
  .fingerprint_menu{
    background-color: white;
    position: absolute;
    z-index: 1;
    width: 218px;
    box-shadow: 0 5px 10px -5px #000;
    ul{
      list-style: none;
      padding-left: 0;
      border-top: 2px solid $base-color;

      li{
        position: relative;
        width: 100%;
        border-bottom: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.15);
        padding-left: 20px;
        a{
          line-height: 45px;
        }
      }

    }
    .fingerprint-img{
      float: left;
    }

  }

}


/*For xs*/
@media screen and (max-width: $tablet - 1) {
  .header {
    .navbar-nav {
      margin: 0 0;
      float: none!important;
      li {
        float: none;
        a {
          border-bottom: solid 1px #eee;
          font-size: 14px;
          padding: 9px 10px;
        }
      }
    }
    .header-logo{

    }
    .navbar-collapse {

      display: none;
      padding-left: 0;
      padding-right: 0;
      float: left !important;
      width: 100%;
      li{
        display: block;
      }
      .container {
        padding-left: 0;
        padding-right: 0;
        margin-top: 0!important;
      }
      &.collapse {
        overflow-y: auto!important;
        background: white;
      }
      &.in{
        display: block;

      }
    }
  }

}

@media screen and (min-width: $tablet) {
  .header {
    .header-logo{
      position: absolute;
    }
    .navbar-nav {
      float: right;
      margin-top: 20px;
    }
  }
}

@include responsive_768{
  .header{
    .navbar-collapse {
      a {
        font-size: 13px;
        padding: 0px 5px;
      }
    }
  }

}
