/**
 * Mixins
 */

@mixin border-radius($value){
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
}

@mixin transform-rotate($value) {
  -webkit-transform:rotate($value);
  -moz-transform:rotate($value);
  -o-transform:rotate($value);
  -ms-transform:rotate($value);
  transform:rotate($value);
}
