.bg-color-light {
  background-color: #f7f7f7 !important;
}
.breadcrumbs-v1 {
  padding: 100px 0;
  position: relative;
  background: url(../img/img1.jpg) center no-repeat;
  background-size: cover;
  transition: all 0.8s ease-in-out;
  margin-top: $gutter * 4;
  span{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 5px;
    display: inline-block;
    color: #fff;
    z-index: 1;
    position: relative;
  }
  h1 {
    color: #fff;
    z-index: 1;
    position: relative;
    font-size: 50px;
    margin-bottom: 0;
    line-height: 55px;
    text-transform: uppercase;
  }
  &:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
    position: absolute;
    background: rgba(0,0,0,0.15);
  }
}
.content-sm {
  padding-top: 60px;
  padding-bottom: 60px;

}
.full-width {
  width: 100%;
}
.news-v2 {
  .news-v2-badge {
    overflow: hidden;
    position: relative;
    p {
      left: 0;
      top: 20px;
      background: #fff;
      padding: 5px 15px;
      text-align: center;
      position: absolute;
      span {
        color: #555;
        display: block;
        font-size: 16px;
        line-height: 16px;
      }
      small {
        color: #555;
        display: block;
        font-size: 10px;
        text-transform: uppercase;
      }
    }
  }
  .news-v2-desc {
    padding: 20px;
    background: #fff;
    p {
      color: #555;
    }
    h3 {
      margin: 0 0 3px;
      font-size: 16px;
      a {
        color: #555;
      }
    }
    small {
      color: #555;
      display: block;
      margin-bottom: 15px;
      text-transform: uppercase;
      a {
        color: #72c02c;
        text-decoration: none;
      }
    }
  }
}
.news-v3 {
  .news-v3-in {
    padding: 35px 30px;
    .posted-info {
      li{
      color: #555;
      font-style: italic;
        &:before {
          font-size: 12px;
          line-height: 12px;
          margin-right: 13px;
        }
      }
    }
    h2 {
      font-size: 32px;
      font-weight: 200;
      margin: 0 0 20px;
      line-height: 45px;
      text-transform: uppercase;
      a {
        color: #555;
      }
    }
    p {
      color: #555;
      margin-bottom: 20px;
    }
  }
  .post-shares {
    padding-left: 0;
    list-style: none;
    margin: 40px 0 0 -5px;
    li {
      position: relative;
      padding: 0 10px 0 5px;
      display: inline-block;
      i {
        color: #555;
        width: 40px;
        height: 40px;
        padding: 13px;
        font-size: 16px;
        background: #eee;
        text-align: center;
        display: inline-block;
      }
      span {
        top: -5px;
        right: 6px;
        color: #fff;
        width: 22px;
        height: 22px;
        padding: 4px;
        font-size: 10px;
        line-height: 10px;
        position: absolute;
        text-align: center;
        background: #72c02c;
        border: 2px solid #fff;
        border-radius: 50% !important;
      }
    }
  }
}
blockquote
{
  &.hero {
    border: none;
    padding: 18px;
    font-size: 16px;
    background: #f3f3f3;
    border-left: solid 2px #666;
  }
}
.tags-v2 {
  li {
    padding: 7px 0 7px 4px;

    a {
      color: #555;
      font-size: 13px;
      padding: 5px 10px;
      border: solid 1px #bbb;
      cursor: pointer;
      &:hover {
        color: #fff;
        background: #555;
        border-color: #555;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
      }
    }

  }
}
.headline-v2 {
  display: block;
  background: #fff;
  padding: 1px 10px;
  margin: 0 0 20px 0;
  border-left: 2px solid #000;
  h2 {
    margin: 3px 0;
    font-size: 20px;
    font-weight: 200;
  }
}
.blog-author {
  padding: 20px;
  background: #fff;
  img {
    float: left;
    width: 80px;
    height: auto;
    margin-right: 20px;
  }
  .blog-author-desc {
    overflow: hidden;
    h4 {
      float: left;
      font-size: 18px;
      margin: 0 0 10px;
      text-transform: uppercase;
    }
    ul {
      float: right;
      margin-top: 6px;
    }
    p {
      color: #555;
    }
  }
}
.blog-trending{
  li {
    margin-bottom: 20px;
  }
  h3 {
    font-size: 14px;
    margin: 0 0 5px;
    line-height: 17px;
  }
  small {
    color: #777;
    a {
      color: #777;
    }

  }
}
.blog-latest-posts{
  h3 {
    font-size: 14px;
    margin: 0 0 3px;
    line-height: 20px;
  }
  li{
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #ddd;
    &:first-child {
      margin-top: 0;
      padding-top: 0;
      border-top: none;
    }
  }
  small {
    margin-bottom: 8px;
    display: inline-block;
    color: #777;
    a {
      color: #777;
    }
  }
  p {
    font-size: 12px;
  }
}
.blog-newsletter {
  p {
    color: #555;
    margin-bottom: 15px;
  }
  .form-control {
    border: none;
  }
}
.blog-post-quote {
  padding: 35px 60px;
  background: #fff;
  text-align: center;
  p {
    color: #555;
    font-size: 32px;
    font-weight: 200;
    line-height: 45px;
    position: relative;
    margin-bottom: 20px;
    font-family: "Open Sans", Arial, sans-serif;
    &:after {
      top: -3px;
      font-size: 30px;
      position: relative;
    }
    &::before {
        top: -3px;
        font-size: 30px;
        position: relative;
      }
  }
  span {
    color: #555;
    font-size: 20px;
    font-weight: 200;
  }
}
