/* ------------------------------>>> PRICING <<<------------------------------ */



.stm-page-head {
  position: relative;
  background-position: bottom center;
  background: #011b3a;
  background-size: cover;
  padding-top: 221px;
  padding-bottom: 78px;
  background-image : url(../img/bg-header.jpg);

  .stm-page-head__content {
    position: relative;
    z-index: 1;
    .stm-page-head__title {
      font-weight: 300;
      color: #fff;
      margin-bottom: 33px;
    }
    .stm-page-head__separator-line {
      width: 60px;
      height: 2px;
      background: #81ca00;
    }
  }
}


.stm-separator_type_title .stm-separator__line {
  background: #81ca00;
  width: 60px;
  height: 2px;
}
.stm-title {
  margin-bottom: 34px;
}
.stm-separator {
  margin-bottom: 41px;
}
.stm-blockquote__content {
  display: table;
}
.stm-blockquote__body {
  display: table-cell;
  width: 10000px;
  vertical-align: middle;
}
.stm-blockquote p:first-of-type {
  text-indent: 20px;
}
.stm-blockquote p:first-of-type:before {
  content: "\e90d";
  position: relative;
  left: -19px;
  top: -7px;
  text-indent: 0;
  font-family: 'stm-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  color: #81ca00;
}
.stm-blockquote p:first-of-type {
  text-indent: 20px;
}
.stm-blockquote p {
  margin-bottom: 30px;
  line-height: 30px;
  color: #595959;
}
.stm-blockquote p:last-of-type:after {
  content: "\e90c" !important;
  position: relative;
  left: 18px;
  top: -2px;
  font-family: 'stm-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  color: #81ca00;
}
.stm-blockquote footer {
  padding-top: 36px;
  color: #595959;
}

//application
.package{
  &.gray {
    background-color: $dark-white;
  }
  .entry-content{
    margin-bottom: 60px !important;
    padding-top: 80px !important;
    .fingerprint_view_list {
      margin-bottom: 30px;
      position: relative;
      width: 70%;
      float: left;
      .entry-body {
        display: table;
        width: 100%;
        position: relative;
        z-index: 1;
      }

      .entry-thumbnail-container {
        display: table-cell;
        vertical-align: middle;
        &:hover{
          background-color: $base-color!important;
        }
      }
      .entry-thumbnail {
        width: 350px;
        margin-right: -40px;
        position: relative;
        z-index: 1;
        img {
          display: block;
          max-width: 100%;
          height: auto;
        }
      }
      .entry-details-container {
        display: table-cell;
        width: 10000px;
        vertical-align: middle;
        .entry-details {
          position: relative;
          padding: 27px 40px 26px 40px;
          background: #fff;
          z-index: 3;
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
        }
        .entry-title {
          margin-bottom: 12px;
          line-height: 30px;
        }
        h5 {
          margin: 0 0 27px 0;
          font-size: 18px;
          font-weight: 400;
          color: #011b3a;
        }
        .entry-summary {
          margin-bottom: 13px;
          line-height: 24px;
          font-size: 14px;
        }
        p:last-child {
          margin-bottom: 0;
        }
        .entry-meta {
          padding-left: 0;
          margin-bottom: 0;
          list-style: none;
          li {
            display: inline;
            margin-right: 30px;
            font-size: 13px;
            color: #999;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
            .fa {
              margin-right: 9px;
            }
          }
        }

      }
      .fingerprint-categories {
        position: absolute;
        top: 30px;
        left: 0;
        padding: 6px 0;
        list-style: none;
        margin: 0;
        z-index: 2;
        background: rgba(1, 27, 58, 0.85);
        a {
          display: block;
          padding: 0 8px;
          font-size: 12px;
          font-weight: 700;
          color: #fff;
          text-transform: uppercase;
          text-decoration: none;
          line-height: 1;
        }
      }
    }
    .fingerprint_menu{
      float: left;
      width: 26%;
      padding: 20px 10px;
      background: $xbright-blue;
      margin-top: 21px;
      margin-left: 40px;
    }

    //feedback
    .clientsphoto img {
      width: 80px;
      float: left;
      margin-right: 20px;
      border-radius: 50%;
    }
    .quote {
      overflow: hidden;
      h5 {
        margin-bottom: 5px;
      }
    }
    blockquote p:last-child, blockquote ul:last-child, blockquote ol:last-child {
      margin-bottom: 0;
    }
    blockquote {
      margin: 0;
      padding: 0 0 10px 0;
      border: none;
      p {
        font-style: italic;
        font-size: 14px;
      }
    }
  }
}







.pricing {
  font-weight: $font-light;

  // fingerprint header
  &-header {
    background: url("../img/bg-pricing.jpg") no-repeat center top;
    background-size: auto;
    color: $white;
    display: block;
    height:500px;
    h2.title {
      font-family: $font-open-sans;
      margin: 0;
    }

    .sumary {
      p {
        margin: 0;
      }
    }
  }

  //fingerprint body
  &-body {
    padding-top: 65px;
  }

  &-action {
    border-bottom: 1px $xxlight-gray solid;
    height: $gutter * 3;

    a {
      line-height: $gutter * 2.8;
      height: $gutter * 3;
      border-bottom: 4px transparent solid;
      display: inline-block;
      padding: 0 ($gutter * 0.9);
      margin-right: $gutter;
      color: $black;
      font: {
        family: $font-open-sans;
        size: $font-base * 1.15;
        weight: $font-medium;
      }

      &:last-child {
        margin-right: 0;
      }

      &.active,
      &:hover {
        color: $black;
        border-color: $base-color;
      }
    }
  }

  .package {
    padding-bottom: $gutter * 2;

    img{
      width: 100%;
    }
    .fingerprint_main_menu{
      background: $light-blue;
      margin-top: 65px;
      padding: 5px 28px;
      li{
        list-style: none;
      }
    }

    &-item {
      margin-top: $gutter * 2;
      @include border-radius(5px);
      overflow: hidden;

      &.green {
        .package {
          &-header:after {
            border-top-color: $xlight-green;
          }

          &-title {
            background-color: $light-green;
          }

          &-price {
            background-color: $xlight-green;
          }

          &-footer a {
            background-color: $xlight-green;

            &:hover {
              background-color: $light-green;
            }
          }
        }
      }

      &.orange {
        .package {
          &-header:after {
            border-top-color: $xorange;
          }

          &-title {
            background-color: $orange;
          }

          &-price {
            background-color: $xorange;
          }

          &-footer a {
            background-color: $xorange;

            &:hover {
              background-color: $orange;
            }
          }
        }
      }

      &.blue {
        .package {
          &-header:after {
            border-top-color: $xbright-blue;
          }

          &-title {
            background-color: $bright-blue;
          }

          &-price {
            background-color: $xbright-blue;
          }

          &-footer a {
            background-color: $xbright-blue;

            &:hover {
              background-color: $bright-blue;
            }
          }
        }
      }

      &.light-blue {
        .package {
          &-header:after {
            border-top-color: $xlight-blue;
          }

          &-title {
            background-color: $light-blue;
          }

          &-price {
            background-color: $xlight-blue;
          }

          &-footer a {
            background-color: $xlight-blue;

            &:hover {
              background-color: $light-blue;
            }
          }
        }
      }
    }

    &-header {
      text-align: center;
      color: $white;
      position: relative;
      z-index: 1;

      &:after {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-width: 7px;
        margin-left: -7px;
      }
    }

    &-title {
      color: $white;
      line-height: 1.8 * $gutter;
      text-transform: uppercase;
      margin: 0;
      font: {
        family: $font-open-sans;
        weight: $font-bold;
        size: $font-base;
      }
    }

    &-price {
      position: relative;
      padding: {
        top: $gutter * 0.5;
        bottom: $gutter * 0.4;
      }

      span {
        display: inline-block;
      }
      .number {
        padding: 0 ($gutter * 0.25);
        line-height: 1em;
        font: {
          size: $font-base * 4.875;
          family: $font-open-sans;
          weight: $font-bold;
        }
      }

      .unit {
        position: absolute;
        font-family: sans-serif;
        top: $gutter * 0.5;
        font: {
          size: $font-base * 2;
          weight: normal;
        }
      }

      .time {
        font-size: $font-base;
      }

      p {
        margin: {
          bottom: 0;
          top: $gutter * 0.6;
        }
        font: {
          size: $font-base * 0.8125;
          style: italic;
        }
      }
    }

    &-body {
      border: 1px $xxlight-gray solid;
      padding: ($gutter * 1.25) ($gutter * 1.25) ($gutter * 0.5) ($gutter * 1.25);
      position: relative;

      &:after, &:before {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      &:after {
        border-top-color: $white;
        border-width: 6px;
        margin-left: -6px;
      }
      &:before {

        border-top-color: $xxlight-gray;
        border-width: 7px;
        margin-left: -7px;
      }
    }

    &-list {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        line-height: $gutter * 1.7;
        font-size: $font-base * 0.875;
      }
    }

    &-footer {
      a {
        height: $gutter * 1.8;
        line-height: $gutter * 1.8;
        display: block;
        text-align: center;
        color: $white;
        font: {
          family: $font-open-sans;
          size: $font-base * 0.9375;
        }
      }
    }
  }

  //fingerprint footer
  &-footer {
    text-align: center;

    h2.title {
      margin: 0;
      font: {
        weight: $font-light;
        family: $font-open-sans;
      }

      span {
        font-weight: $font-semibold;
      }
    }

    .sumary {
      line-height: 1.6em;

       p {
         margin: 0;
       }
    }

    .link {
      a {
        display: inline-block;
        max-width: $gutter * 8.9;
        margin: 0 ($gutter * 0.25);

        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}

//For xs
@media screen and (max-width: $tablet - 1){
  .pricing {
    &-header {
      padding: {
        top: $gutter * 2;
        bottom: $gutter * 2;
      }

      h2.title {
        font-size: $font-base * 1.875;
      }

      .sumary {
        margin-top: $gutter;

        p {
          font-size: $font-base;
        }
      }
    }

    .package-list li {
      text-align: center;
    }

    &-footer {
      padding: {
        top:  $gutter;
        bottom: $gutter * 1.5;
      }

      h2.title {
        font-size: $font-base * 1.5;
      }

      .sumary {
        margin-top: $gutter;
        font-size: $font-base;
      }

      .link {
        margin-top: $gutter * 1.5;

        a {
          max-width: 40%;
        }
      }
    }

  }
}


//For xs, sm
@media screen and (max-width: $desktop - 1) {
  .pricing-action {
    text-align: center;
  }
}
//For sm
@media screen and (min-width: $tablet) and (max-width: $desktop - 1){
  .pricing {
    &-footer {
      padding: {
        top:  $gutter * 2;
        bottom: $gutter * 3;
      }

      .sumary {
        margin-top: $gutter * 1.5;
      }

      .link {
        margin-top: $gutter * 2;
      }
    }
  }
}

//For sm,md,lg
@media screen and (min-width: $tablet) {
  .pricing {
    &-header {
      padding: {
        top: $gutter * 4;
        bottom: $gutter * 3;
      }

      h2.title {
        font-size: $font-base * 2.5;
      }

      .sumary {
        margin-top: $gutter * 2;
        p {
          font-size: $font-base * 1.25;
        }
      }
    }

    &-footer {
      h2.title {
        font-size: $font-base * 1.875;
      }

      .sumary {
        font-size: $font-base * 1.25;
      }
    }
  }
}

//For md ,lg
@media screen and (min-width: $desktop - 1) {
  .pricing {
    &-footer {
      padding: {
        top:  $gutter * 4;
        bottom: $gutter * 6;
      }

      .sumary {
        margin-top: $gutter * 2.5;
      }

      .link {
        margin-top: $gutter * 3;
      }
    }
  }
}


