.responsive-video {
  height: 0;
  padding-top: 1px;
  position: relative;
  padding-bottom: 56.25%;
  iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 0;
  }
}
.news-v3 {
  .news-v3-in-sm {
    .post-shares {
      margin: 20px 0 0 -5px;
    }
  }
}

.carousel-v1 {
  .carousel-arrow {
    a {
      i {
        top: 50%;
        opacity: 0.6;
        background: #000;
        margin-top: -18px;
        padding: 2px 12px;
        position: absolute;
      }
      &.right {
        i {
          right: 0;
        }
      }
      &.left {
        i {
          left: 0;
        }
      }
      &.carousel-control {
        opacity: 1;
        font-size: 30px;
        height: inherit;
        width: inherit;
        background: none;
        text-shadow: none;
        position: inherit;
      }
    }

  }
}
