
.index-center{
  color: $white;

  .sidebar{
    width: $sidebar;
    height: 100%;
    background-color: $index-blue;
    float: left;
    -webkit-transition: width 1s; /* Safari */
    transition: width 1s;
    .sidebar-header{
      background-color: $base-color;
      height: $height-index-center-header;
      span{
        font-weight: $font-bold;
        margin-left: 28px;
        margin-top: 8px;
        font-size: 20px;
        position: absolute;
      }
    }
    .sidebar-main{
      margin-top: 20px;
      .feature-img{
        width: 40px;
        float:left;
      }
      .feature-name{
        height: 100%;
        width: 48px;
      }
      img{
        padding-right: 20px;
        margin-top: 11px;
        -webkit-transition: all 2s; /* Safari */
        transition: all 2s;
        &:first-child{
          display: none;
        }
      }
      span{
        margin-top: 8px;
        position: absolute;
      }
    }
    .sidebar-footer{
      position: absolute;
      bottom: 20px;
      margin-left: 20px;
      width: 100%;

      p{
        float: left;
        color: $white
      }
      span{
        color: $index-pink;
        margin-left: 10px;
        font-weight: $font-semibold;
      }
    }
    .feature{
      height: $height-feature;
      border: 0;
      border-top: 1px solid rgba(226, 226, 226, 0.14);
      padding-left: 28px;
      width: 100%;
      background-color: $index-blue;

      a{
        color: white!important;
        position: absolute;
        width: 220px;
        height: 50px;
        margin-left: -28px;
        &:hover{
          background-color: $index-blue-active;
          border-left: 3px solid $index-pink;
        }
      }
      .active{
        background-color: $index-blue-active;
        border-left: 3px solid $index-pink;
      }
      .feature-img{
        margin-left: 28px;
      }
    }

  }

  .sidebar-style{
    width: 0!important;
  }
  .sidebar-style img {
    padding-right: 0!important;
    margin-left: -68px!important;
  }
  .search-open{
    display: initial !important;
  }
}

