
// Color
$base-color: #81ca00;
$white: #fff;
$dark-white: #f4f4f4;
$black: #000;
$light-black: #1c1c1c;
$xlight-black: #2b2b2b;
$gray: #888888;
$dark-gray: #dddddd;
$light-gray: #b6b5b5;
$xlight-gray: #cdd0d3;
$xxlight-gray: #e6e9ed;
$green: #38c662;
$xgreen: #2dc159;
$light-green: #4ba14f;
$xlight-green: #57ab5b;
$orange: #edaa2f;
$xorange: #f6b339;
$blue: #151d28;
$xblue: #1d2632;
$bright-blue: #1b6cd5;
$xbright-blue: #2475dd;
$light-blue: #00aaff;
$xlight-blue: #2cb9cd;

  //social color
  $twiter: #54abed;
  $gplus: #d24332;
  $facebook: #44609f;
  $linkedin: #0f5b91;

  //index color
  $index-blue: #253559;
  $index-blue-active: #1e2d4b;
  $index-pink: #ff2956;
  $index-grey: #b2b2b2;

/* font */
$font-base: 14px;
$font-family: 'Source Sans Pro', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;
$font-bold: 700;
$font-semibold: 600;
$font-medium: 500;
$font-normal: 400;
$font-light: 300;

/* gutter */
$gutter: 20px;

/* breakpoint */
$large: 1200px;
$desktop: 992px;
$tablet: 768px;

/* index-center size*/
$sidebar: 220px;
$main-center: 980px;
$height-index-center-header: 60px;
$height-feature: 50px;
//$weight-browser: 100%;

/* responsive */
$res_320 : "only screen and (min-width: 320px) and (max-width: 374px)";
$res_375 : "only screen and (min-width: 375px) and (max-width: 424px)";
$res_425 : "only screen and (min-width: 425px) and (max-width: 767px)";
$res_768 : "only screen and (min-width: 768px) and (max-width: 991px)";
$res_992 : "only screen and (min-width: 992px) and (max-width: 1023px)";
$res_1024 : "only screen and (min-width: 1024px) and (max-width: 1999px)";
$res_1200 : "only screen and (min-width: 1200px)";

@mixin responsive_320() {
  @media #{$res_320} {
    @content;
  }
}
@mixin responsive_375() {
  @media #{$res_375} {
    @content;
  }
}
@mixin responsive_425() {
  @media #{$res_425} {
    @content;
  }
}
@mixin responsive_768() {
  @media #{$res_768} {
    @content;
  }
}
@mixin responsive_992() {
  @media #{$res_992} {
    @content;
  }
}
@mixin responsive_1024() {
  @media #{$res_1024} {
    @content;
  }
}
@mixin responsive_1200() {
  @media #{$res_1200} {
    @content;
  }
}
